---
// Importação direta dos componentes da raiz do src/
import Layout from '../Layout.astro';
import Hero from '../Hero.astro';
import Footer from '../Footer.astro';
import FloatingWhatsApp from '../FloatingWhatsApp.astro';
import Header from '../Header.astro';
---

<Layout title="Gemma Boutique | Sofisticação e Exclusividade em Acessórios">
	<main class="flex-grow w-full">
		<Header />
		<Hero />
	</main>
	<Footer />
	<FloatingWhatsApp />
</Layout>
